<P 1>文字列Sが与えられます。Sがpaizaと一致する場合はYESを、一致しない場合はNOを出力してください。
</P>

def check_paiza(s):
    if s == "paiza":
        return "YES"
    else:
        return "NO"

input_string = input()
result = check_paiza(input_string)
print(result)


<p 2>整数Nが与えられます。Nが 100 以下の場合はYESを、そうではない場合はNOを出力してください。</p>

N = int(input())

if N <= 100:
    print("YES") 
else: 
    print("NO")


<p 3>整数 A, B, C が与えられます。式 A × B ≦ C が成立している場合はYESを、そうではない場合はNOを出力してください。</p>

A, B, C = map(int, input().split())

if A * B <= C:
    print("YES")
else:
    print("NO")

<p 4>ある占いでは、箱の中に 1~9 までのいずれかの数字が書かれている玉を取り出し、その玉に書かれている数字から運勢を占います。玉に書かれている数字が 7 の時は大吉となります。占いで取り出した玉に書かれている数字が 1 つ与えられます。大吉かどうかを判定してください。</p>

n = int(input())

if n == 7:
    print("Yes")
else:
    print("No")