<P 1>文字列Sが与えられます。Sがpaizaと一致する場合はYESを、一致しない場合はNOを出力してください。
</P>

def check_paiza(s):
    if s == "paiza":
        return "YES"
    else:
        return "NO"

input_string = input()
result = check_paiza(input_string)
print(result)

<p 2>整数Nが与えられます。Nが 100 以下の場合はYESを、そうではない場合はNOを出力してください。</p>

N = int(input())

if N <= 100:
    print("YES")
    
else: 
    print("NO")