<p 1>文字列 s が 1 行で与えられるので s をそのまま出力</p>

s = input()
print(s)


<p 2>文字列 s と t が 2 行で与えられるので、s と t の 2 行をそのまま出力</p>

s = input()
t = input()
print(s)
print(t)


<p 3>半角スペースを含まない文字列 s が 1 行で与えられるので、そのまま出力</p>

s = input()
print(s)


<p 4>
  文字列 s_1, s_2 が半角スペースで区切られて 1 行で与えられる
  各文字列を出力するごとに改行し 2 行で出力
</p>

s = input().split()
print(s[0])
print(s[1])


<p 5>2 つの文字列 S, T が入力される。S, T を改行区切りで出力</p>

S = input()
T = input()
print(S)
print(T)
